main {
    width: 600px;
    margin: 150px auto auto;
  }

  h1 {
    text-align: center;
    background-color: rgb(46, 180, 106);
    color: white;
    font-family: sans-serif;
    padding: 20px;
  }
  section {
    padding: 20px;
  }
  