main {
    width: 600px;
    margin: 150px auto auto;
  }

  h1 {
    text-align: center;
    background-color: rgb(138, 188, 117);
    color: white;
    font-family: sans-serif;
    padding: 20px;
  }
  section {
    padding: 20px;
  }
  
  input {
  border-color: rgb(138, 188, 117);
  border-top-color: rgb(138, 188, 117);
  }

  #btn {
    color: rgb(138, 188, 117);
    border-color: rgb(138, 188, 117);
    font-weight: bolder;
    height: 40px;
    width: 100px;
  }
  